<div class="jumbotron">
	<h1>Riajuu</h1>
	<p>Take better dating profile pictures</p>
</div>
  
<div class="container-fluid">
  <div class="row">
      <!-- <img class="banner-couple" src="assets/banner-couple.jpg" alt="banner-couple"> -->
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="section-two">
      
    </div>
  </div>
</div>


<div class="container-fluid" style="background-color: red;">
   <div class="row" style="background-color: blue;">
     <div class="col-md-4" style="background-color: yellow;"><h1>Inside div</h1></div>
       <h1>Outside div</h1>
   </div>
   <div class="row" style="background-color: green;">
     <div class="col-md-8" style="background-color: orange"><h1>inside second div</h1></div>
       <h1>Second</h1>
   </div>
</div>