<div class="jumbotron">
	<h1>Riajuu</h1>
	<p>Look your Best to Meet the Best</p>
</div>
  
<!-- <div class="container-fluid">
  <div class="row">
      <img class="banner-couple" src="assets/banner-couple.jpg" alt="banner-couple">
  </div>
</div> -->

<div class="section-one">
  <div class="container-fluid">
    <div class="row">
      <div class="section-title col-md-12">
        <h1>The Why</h1>
        <p>30% of all marriages last year came from people meeting online. Are your dating profile pictures portraying you in the most flattering way possible?</p> 
      </div>

      <div class="col-md-6">
        <h2>Your Current Picture</h2>
        <h3>Do your pictures look like this?</h3>
        <div class="picture-example-bad">
          <p>Lorem Ipsum</p>
        </div>
      </div>

      <div class="col-md-6">
        <h2>What It Should Be</h2>
        <h3>When they could look like this!</h3>
        <div class="picture-example-good">
          <p>Lorem Ipsum</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section-two">
  <div class="container-fluid">
    <div class="row">
      <div class="section-title col-md-12">
        <h1>How it Works</h1>
      </div>
      
    </div>
  </div>
</div>

<div class="section-three">
  <div class="container-fluid">
    <div class="row">
      <div class="section-title col-md-12">
        <h1>Get Started</h1>
      </div>
    </div>
  </div>
</div>