.navbar-brand {
	width: auto;
	height: auto;
}

/*If navbar-fixed-top is used, adjust body padding*/
body {
	/*padding-top: 70px;*/
}

#copyright {
	color: #666;
	font-size: 1em;
	line-height: 1em;
	display: inline-block;
	border-left: solid 1px rgba(0, 0, 0, 0.5);
	padding: 0 0 0 1em;
	margin: 0 0 0 1em;
	font-size: 1em;
	margin: 0;
}