.jumbotron {
	background-image: url('banner-couple.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 40em;
	text-align: center;
}

.section-one {
	background-color: pink;
	text-align: center;
}

.section-two {
	background-color: #eee;
	text-align: center;
}

.section-three {
	background-color: #ADD8E6;
	text-align: center;
}